
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  .content {
    background-color: #FFF;
    padding: 10px;
  }

  .active {
    background-color: rgb(22, 136, 207);
    color: rgb(255, 255, 255);
  }

  .Nav_link:hover {
    color: red;
  }

  .Nav_link:active {
    color: red;
  }